/*! Unnamed Team's Guicraft v0.1.0 | MIT License | github.com/unnamed/guicraft */
/*
 * Dialog
 * ===========================================================
 */
.dialog-bg {
    /**
     * Dialog background styles, this makes the
     * background darker
     */
    z-index: 1000;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    width: 100%;
    height: 100%;
}
#dialog {
    /**
     * Dialog container styles
     */
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
    background-color: var(--black-2);
    border-radius: 8px;
    padding: 32px;
    position: absolute;

    /* Center the dialog */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Add some space between dialog components */
#dialog__heading { margin-bottom: 10px; }
#dialog__info { margin-bottom: 20px; }