/*! Unnamed Team's Guicraft v0.1.0 | MIT License | github.com/unnamed/guicraft */
@import url("header.css");

* {
    /* Remove default margin and padding from all elements */
    margin: 0;
    padding: 0;

    /* Use border-box box sizing */
    box-sizing: border-box;

    /* Variables */
    --color: #9966f5;
    --accent: #814ae3;

    /* Set default font color and font family */
    color: #afabab;
    font-family: 'Rubik', sans-serif;
}

/*
 * Scroll
 * ===========================================================
 */
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: #00000011; }
::-webkit-scrollbar-thumb { background: var(--color); }
::-webkit-scrollbar-thumb:hover { background: var(--accent); }