/*! Unnamed Team's Guicraft v0.1.0 | MIT License | github.com/unnamed/guicraft */
/*
 * Row Controls
 * ===========================================================
 */
.rows-container {
    flex: 1;
    width: 100%;
    margin: 10px 0;
    padding: 10px;

    background-color: rgba(0, 0, 0, .17);
}

.row-controls {
    padding: 4px 0;
}

.row {
    display: flex;
    padding: 4px;
    justify-content: space-between;
}

.rows-container button {
    background: none;
    border: none;
    color: var(--color);
    padding: 0 2px;
}

.row-buttons {
    display: inline-block;
}